@font-face {
  font-family: 'quicksandbold_allfont_ru';
  src: url("../fonts/quicksandbold_allfont_ru.eot");
  src: url("../fonts/quicksandbold_allfont_ru.eot") format("embedded-opentype"), url("../fonts/quicksandbold_allfont_ru.woff2") format("woff2"), url("../fonts/quicksandbold_allfont_ru.woff") format("woff"), url("../fonts/quicksandbold_allfont_ru.ttf") format("truetype"), url("../fonts/quicksandbold_allfont_ru.svg#quicksandbold_allfont_ru") format("svg"); }
:root {
  --blue_color: #008ed6;
  --white-color: #ffffff;
  --grey_color: #999999;
  --real_red_color: #6c2c3a;
  --rich_razzleberry_color: #954567;
  --targerino-tango_color: #faddd5;
  --tab_bg_color: #e7cfa6;
  --tab-text-color:#e5e5e5; }

* {
  padding: 0;
  margin: 0; }

a:focus {
  text-decoration: none;
  background-color: transparent; }

.top_block {
  color: var(--white-color);
  background: url("../images/fon.png") no-repeat center;
  background-size: cover; }
  .top_block a {
    color: white; }
  .top_block nav {
    color: white; }
    .top_block nav ul li {
      position: relative; }
      .top_block nav ul li a {
        padding: 10px 0 13px 0;
        margin-left: 22px; }
        .top_block nav ul li a:focus {
          text-decoration: none;
          background-color: transparent; }
        .top_block nav ul li a:hover {
          background: transparent;
          transition: 0.3s; }
          .top_block nav ul li a:hover:after {
            content: "";
            width: 20px;
            height: 2px;
            background-color: var(--blue_color);
            display: block;
            position: absolute;
            left: 22px;
            bottom: 0; }
          .top_block nav ul li a:hover:before {
            content: "";
            width: 20px;
            height: 2px;
            background-color: var(--blue_color);
            display: block;
            position: absolute;
            left: 0;
            bottom: 0; }
  @media screen and (max-width: 992px) {
    .top_block .container .row {
      padding-bottom: 30px; } }
  @media screen and (max-width: 768px) {
    .top_block .container .row {
      text-align: center; } }
  .top_block .container .row .col-md-7 {
    padding-bottom: 20px;
    font-family: 'Source Sans Pro', sans-serif; }
    .top_block .container .row .col-md-7 h3 {
      margin-top: 65px;
      color: var(--blue_color);
      font-size: 14px;
      text-transform: uppercase;
      font-weight: bold;
      margin-bottom: 13px; }
    .top_block .container .row .col-md-7 h1 {
      font-weight: bolder;
      color: var(--white-color);
      font-size: 48px;
      line-height: 48px;
      max-width: 490px;
      margin-bottom: 27px; }
      @media screen and (max-width: 768px) {
        .top_block .container .row .col-md-7 h1 {
          padding-bottom: 27px;
          text-align: center;
          margin: auto; } }
    .top_block .container .row .col-md-7 p {
      font-weight: normal;
      color: var(--grey_color);
      font-size: 18px;
      line-height: 24px;
      max-width: 490px;
      margin-bottom: 82px; }
      @media screen and (max-width: 768px) {
        .top_block .container .row .col-md-7 p {
          padding-bottom: 65px;
          text-align: left;
          margin: auto; } }
    .top_block .container .row .col-md-7 a {
      font-weight: bold;
      font-size: 14px;
      text-decoration: none;
      border: solid 1px transparent;
      padding: 20px 28px;
      text-transform: uppercase;
      color: var(--white-color);
      background-color: var(--blue_color);
      border-radius: 5px;
      margin-right: 20px; }
      @media screen and (max-width: 400px) {
        .top_block .container .row .col-md-7 a {
          padding: 10px 14px; } }
      @media screen and (max-width: 340px) {
        .top_block .container .row .col-md-7 a {
          display: block;
          margin-bottom: 30px;
          margin-left: 20px; } }
      .top_block .container .row .col-md-7 a:hover {
        background-color: transparent;
        border: solid 1px var(--grey_color);
        transition: 1s; }
      .top_block .container .row .col-md-7 a:nth-of-type(2) {
        background-color: transparent;
        border: solid 1px var(--grey_color); }
        .top_block .container .row .col-md-7 a:nth-of-type(2):hover {
          transition: 1s;
          background-color: var(--blue_color);
          border: solid 1px transparent; }
  .top_block .container .row .col-md-5 {
    padding-top: 20px; }
    @media screen and (max-width: 1100px) {
      .top_block .container .row .col-md-5 img {
        width: 100%;
        height: auto; } }
    @media screen and (max-width: 992px) {
      .top_block .container .row .col-md-5 img {
        margin-top: 70px; } }
    @media screen and (max-width: 768px) {
      .top_block .container .row .col-md-5 img {
        width: 50%;
        margin-top: 0; } }

.active a {
  color: var(--targerino-tango_color); }
.active .top_block nav {
  color: var(--real_red_color); }
  .active .top_block nav ul li a:hover:after {
    background-color: var(--real_red_color); }
  .active .top_block nav ul li a:hover:before {
    background-color: var(--real_red_color); }
.active .top_block .container .row .col-md-7 h3 {
  color: var(--real_red_color); }
.active .top_block .container .row .col-md-7 h1 {
  color: var(--targerino-tango_color); }
.active .top_block .container .row .col-md-7 p {
  color: var(--rich_razzleberry_color); }
.active .top_block .container .row .col-md-7 a {
  color: var(--targerino-tango_color);
  background-color: var(--real_red_color); }
  .active .top_block .container .row .col-md-7 a:hover {
    background-color: transparent;
    border: solid 1px var(--rich_razzleberry_color); }
  .active .top_block .container .row .col-md-7 a:nth-of-type(2) {
    background-color: transparent;
    border: solid 1px var(--rich_razzleberry_color); }
    .active .top_block .container .row .col-md-7 a:nth-of-type(2):hover {
      background-color: var(--real_red_color);
      border: solid 1px transparent; }

.navbar {
  padding-top: 45px; }

.navbar-brand {
  text-transform: uppercase;
  font-family: 'quicksandbold_allfont_ru';
  font-size: 24px; }

.navbar-right {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px; }

.navbar-toggle {
  border: solid 1px whitesmoke; }
  .navbar-toggle span {
    background-color: white; }

/************************************/
#myModal .modal-dialog {
  width: 100%;
  max-width: 1170px; }
#myModal .modal-content .modal-body {
  padding: 0; }
  #myModal .modal-content .modal-body .container .row .col-sm-6:first-of-type {
    background-image: url("../images/backg_people.png");
    background-size: cover;
    background-position: bottom center;
    background-color: #eeeae3; }
    #myModal .modal-content .modal-body .container .row .col-sm-6:first-of-type form {
      text-transform: uppercase;
      padding: 180px 74px;
      font-family: 'Montserrat', sans-serif; }
      #myModal .modal-content .modal-body .container .row .col-sm-6:first-of-type form h4 {
        font-size: 11.76px; }
      #myModal .modal-content .modal-body .container .row .col-sm-6:first-of-type form h3 {
        font-family: 'Montserrat', sans-serif;
        font-size: 11.76px; }
        #myModal .modal-content .modal-body .container .row .col-sm-6:first-of-type form h3:after {
          margin-top: 30px;
          clear: both;
          display: block;
          content: "";
          border-bottom: solid 1px black;
          width: 100px; }
      #myModal .modal-content .modal-body .container .row .col-sm-6:first-of-type form .form-group label {
        font-size: 11px;
        font-weight: normal; }
    #myModal .modal-content .modal-body .container .row .col-sm-6:first-of-type .row .col-sm-6 {
      padding-top: 45px; }
      #myModal .modal-content .modal-body .container .row .col-sm-6:first-of-type .row .col-sm-6 button {
        background: #e7cfa6;
        border-radius: 20px;
        height: 37px;
        width: 190px; }
      #myModal .modal-content .modal-body .container .row .col-sm-6:first-of-type .row .col-sm-6 a {
        padding-top: 15px;
        line-height: 35px;
        color: black; }
  #myModal .modal-content .modal-body .container .row .col-sm-6 .right_modal .nav-tabs {
    border: none !important; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  border: solid 1px transparent !important;
  color: var(--white-color); }

.nav-tabs > li.active > a {
  text-transform: uppercase;
  background-color: var(--tab_bg_color) !important;
  color: var(--white-color);
  margin-left: 20px;
  font-size: 11.76px;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 0; }
  .nav-tabs > li.active > a:after {
    content: "";
    height: 15px;
    width: 15px;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: -8px;
    background-color: var(--tab_bg_color);
    transform: rotate(45deg); }

.modal-content .modal-body .container .row .col-sm-6 .right_modal .nav-tabs {
  color: var(--white-color) !important;
  text-transform: uppercase; }

.nav-tabs > li > a {
  border-bottom: solid 3px var(--tab-text-color);
  padding-left: 10px;
  padding-right: 10px;
  font-size: 11.76px;
  color: var(--tab-text-color);
  background-color: transparent;
  border-radius: 0;
  margin-left: 20px; }

/*# sourceMappingURL=style_preproc.css.map */
