@font-face {
  font-family: 'quicksandbold_allfont_ru';
  src: url("../fonts/quicksandbold_allfont_ru.eot");
  src: url("../fonts/quicksandbold_allfont_ru.eot") format("embedded-opentype"), url("../fonts/quicksandbold_allfont_ru.woff2") format("woff2"), url("../fonts/quicksandbold_allfont_ru.woff") format("woff"), url("../fonts/quicksandbold_allfont_ru.ttf") format("truetype"), url("../fonts/quicksandbold_allfont_ru.svg#quicksandbold_allfont_ru") format("svg"); }
:root {
  --blue_color: #008ed6;
  --white-color: #ffffff;
  --grey_color: #999999;
  --real_red_color:#6c2c3a;
  --rich_razzleberry_color:#954567;
  --targerino-tango_color: #faddd5; }

* {
  padding: 0;
  margin: 0; }

.top_block {
  color: var(--white-color);
  background: url("../images/fon.png") no-repeat center;
  background-size: cover;
  min-height: 639px; }
  .top_block a {
    color: white; }
  .top_block nav {
    color: white; }
    .top_block nav ul li {
      position: relative; }
      .top_block nav ul li a {
        padding: 10px 0 13px 0;
        margin-left: 22px; }
        .top_block nav ul li a:hover {
          background: transparent;
          transition: 0.3s; }
          .top_block nav ul li a:hover:after {
            content: "";
            width: 20px;
            height: 2px;
            background-color: var(--blue_color);
            display: block;
            position: absolute;
            left: 22px;
            bottom: 0; }
          .top_block nav ul li a:hover:before {
            content: "";
            width: 20px;
            height: 2px;
            background-color: var(--blue_color);
            display: block;
            position: absolute;
            left: 0;
            bottom: 0; }
  .top_block .container .row .col-md-7 {
    padding-bottom: 20px;
    font-family: 'Source Sans Pro', sans-serif; }
    .top_block .container .row .col-md-7 h3 {
      margin-top: 65px;
      color: var(--blue_color);
      font-size: 14px;
      text-transform: uppercase;
      font-weight: bold;
      margin-bottom: 13px; }
    .top_block .container .row .col-md-7 h1 {
      font-weight: bolder;
      color: var(--white-color);
      font-size: 48px;
      line-height: 48px;
      max-width: 490px;
      margin-bottom: 27px; }
    .top_block .container .row .col-md-7 p {
      font-weight: normal;
      color: var(--grey_color);
      font-size: 18px;
      line-height: 24px;
      max-width: 490px;
      margin-bottom: 82px; }
    .top_block .container .row .col-md-7 a {
      font-weight: bold;
      text-decoration: none;
      border: solid 1px transparent;
      padding: 20px 28px;
      text-transform: uppercase;
      color: var(--white-color);
      background-color: var(--blue_color);
      border-radius: 5px;
      margin-bottom: 20px;
      margin-right: 20px; }
      .top_block .container .row .col-md-7 a:hover {
        background-color: transparent;
        border: solid 1px var(--grey_color);
        transition: 1s; }
      .top_block .container .row .col-md-7 a:nth-of-type(2) {
        background-color: transparent;
        border: solid 1px var(--grey_color); }
        .top_block .container .row .col-md-7 a:nth-of-type(2):hover {
          transition: 1s;
          background-color: var(--blue_color);
          border: solid 1px transparent; }
  .top_block .container .row .col-md-4 {
    padding-top: 20px; }

.active a {
  color: var(targerino-tango_color); }
.active .top_block nav {
  color: var(--real_red_color); }
  .active .top_block nav ul li a:hover:after {
    background-color: var(--real_red_color); }
  .active .top_block nav ul li a:hover:before {
    background-color: var(--real_red_color); }
.active .top_block .container .row .col-md-7 h3 {
  color: var(--real_red_color); }
.active .top_block .container .row .col-md-7 h1 {
  color: var(--targerino-tango_color); }
.active .top_block .container .row .col-md-7 p {
  color: var(--rich_razzleberry_color); }
.active .top_block .container .row .col-md-7 a {
  color: var(--targerino-tango_color);
  background-color: var(--real_red_color); }
  .active .top_block .container .row .col-md-7 a:hover {
    background-color: transparent;
    border: solid 1px var(--rich_razzleberry_color); }
  .active .top_block .container .row .col-md-7 a:nth-of-type(2) {
    background-color: transparent;
    border: solid 1px var(--rich_razzleberry_color); }
    .active .top_block .container .row .col-md-7 a:nth-of-type(2):hover {
      background-color: var(--real_red_color);
      border: solid 1px transparent; }

.navbar {
  padding-top: 45px; }

.navbar-brand {
  text-transform: uppercase;
  font-family: 'quicksandbold_allfont_ru';
  font-size: 24px; }

.navbar-right {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px; }

/*# sourceMappingURL=style_preproc.css.map */
